[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
modpypes3 = {editable = true, path = "."}

[dev-packages]
build = "*"
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
pytest-asyncio = "*"
twine = "*"
